.dashboardContainer{
    background-color: pink;
    height: calc(100vh - 106px);
    margin-top: -4px;
}
.dashboardLeft{
    background-color: #FBFBFB;
    height: inherit;
    padding: 10px;
}
.dashboardRight{
    background-color: white;
    height: inherit;
}
.class{
    background-color: pink;
}