.itemBox{
    border-bottom: solid 1px #B7B7B7;
    padding: 20px 20px 10px 20px;
    background-color: white;
}

.greyTxt{
    margin-top: -7px;
    font-size: 12px;
    color: #B7B7B7;
    // font-weight: lighter;
}

.blueTxt{
    margin-top: 16px;
    color: #3E90F7;
    font-weight: bold;
}

